header{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(to right, $color-primary 0%, $color-secondary 100%), url(../images/header-image.jpg);//컴파일된 index.css 기준으로 상대경로 작성
    background-blend-mode: multiply;//서로다른 사진, 배경색이어야함
    background-size: cover;
    position: relative;
    #logo-text{
        position: absolute;
        left: 7rem;
        top: 4rem;
        font-size: 5.6rem;//56px
        text-transform: uppercase;
        font-family: "Lato",sans-serif;
        font-weight: 100;
        color: $color-white;
        letter-spacing: -0.1rem;
    
        animation-name: moveInLeft;
        animation-duration: 1s;
        //animation-iteration-count: 5;
        animation-delay: 2s;
        animation-fill-mode: backwards;//100%->0
        //animation-fill-mode: forwards;//0->100%
        //animation-fill-mode: both;//50%->0->100%
        // animation: css 속성이 변할 때 진행률에 따라 단계별로 보여줌
    }
}
#header-text{
    position: absolute;
    left: 7rem;
    bottom: 23%;
    color: $color-white;
    letter-spacing: -.1rem;
    font-weight: 700;
    &-main{
        font-size:7.2rem;
        line-height:7.2rem;

        animation-name: moveInRight;
        animation-duration: 1s;
        animation-delay: 1s;
        animation-fill-mode: backwards;
    }
    &-sub{
        font-size:2.4rem;
        line-height:3rem;

        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-delay: 1.5s;
        animation-fill-mode: backwards;
    }

}

